<!--<nav class="navbar navbar-expand fixed-top custom-nav-bar">
  <a class="navbar-brand" href="#"><img src="../assets/logo_letter.png" title="Nowconfer"></a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto custom-nav-bar-ui">
      <li class="nav-item active">
        <a class="nav-link" href="#"><img class="circleuserimage" width="50" height="50" src="../assets/prateek.jpg" /> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </li>
      <li class="nav-item custom-name-email">
        <a class="nav-link nav-username" href="#">Prateek Srivastava</a>
        <a class="nav-link nav-useremail" href="#">prateeksrivastava@teledna.com</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item wallet-balance">
        Your Wallet balance is <b>INR 2453.56</b>
      </li>
      <li class="nav-item">
        <button class="add-wallet-bal">ADD</button>
      </li>
      <li class="nav-item custom-notification">
        <img src="../assets/NOt_icon.png" />
      </li>
    </ul>
  </div>
</nav>-->

<div class="container-fluid w-100 h-100 p-0 m-0 custom-nav-bar fixed-top">
  <div class="row ">
    <div class="col-sm-4 border border-primary nav-min-height">
        <div class="col-sm-4 border border-info"><img src="../assets/logo_letter.png" title="Nowconfer"></div>
        <div class="col-sm-3 border border-info"><img class="circleuserimage" width="50" height="50" src="../assets/prateek.jpg" /></div>
        <div class="col-sm-5 border border-info"><img class="circleuserimage" width="50" height="50" src="../assets/prateek.jpg" /></div>
    </div>    
    <div class="col-sm-4 border border-success nav-min-height">
      2 of 3 (wider)
    </div>
    <div class="col-sm-4 border border-danger nav-min-height">
      3 of 3
    </div>
  </div>
</div>